{% extends 'base.html' %}
{% load static %}
{% block content %}
<div>
   <h onclick="history.back(-1)"><i class="fa fa-arrow-left go-back" aria-hidden="true" style="cursor:pointer"></i></h>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card p-3 shadow edit">
                <div class="edit_form">
                    <form  method="POST" class="text-center">
                    {% csrf_token %}
                        <h2>Update your task</h2><br>
                        {{ form.as_p}}
                        <br>
                        <input type="submit" class="btn btn-success">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div><br>
{% endblock %}