{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row task"><br>
    <div class="col-md-6">
        <h1 class="text-center">Add Task</h1><br>
        <form method="POST" class="p-3 shadow">
        {% csrf_token %}
            <div class="form-group">
                <b><label class="control-label">Task Name</label></b>
                <div>
                    <input type="text" placeholder="Name Of The Task" class="form-control input-lg" name="name" required>
                </div>
            </div>
            <div class="form-group">
                <b><label class="control-label">Priority</label></b>
                <div>
                    <input type="text" placeholder="Your Priority" class="form-control input-lg" name="priority" required>
                </div>
            </div>
            <div class="form-group">
                <b><label class="control-label">Date</label></b>
                <div>
                    <input type="date" placeholder="Your Date" class="form-control input-lg" name="date" required>
                </div>
            </div>
            <center>
                <button type="submit" class="btn btn-danger">Submit</button>
            </center>
        </form>
    </div>
    <div class="col-md-6">
        <h1 class="text-center">Task Completed</h1><br>
        {% for i in obj1 %}
        <div class="card p-3 shadow text-center">
            <div class="card-body">
                <h5 class="card-title"><b>{{i.name}}</b></h5>
                <p><b>{{i.priority}}</b></p>
                <p><b>{{i.date}}</b></p>
                <a class="btn btn-success text-center" href="{% url 'delete' i.id%}">Delete</a>&nbsp;&nbsp;
                <a class="btn btn-danger text-center" href="{% url 'update' i.id%}">Update</a>
            </div>
        </div><br>
        {% endfor %}
    </div>
</div>
{% endblock %}